body {
	background-color: #14051C;
}

.maincss {
	margin: 10px 15px 13px 15px;
	background-color: #170620;
	width: 250px;
	height: 729px;
	float: left;
	transition: 0.5s;
	font-family: "Merriweather Sans" ,Helvetica ,Arial ,sans-serif;
	font-size: 1.4em;
	border: 1px solid #FFF;
	border-radius: 10px;
	color: #c0e7f9;
	box-shadow: 0 0 20px white;
}
.maincat {
	list-style-type: none;
	position: relative;
	right: 23px;
	color: #c0e7f9;
	text-align: center;
	
}

.maincat li {
	border-bottom: 1px solid white;
	text-shadow: 2px 2px 0px #A500FF;
}

.maincat a {
	transition: 0.5s;
	text-decoration: none;
	color: white;
	
}
a {
	transition: 0.5s;
	text-decoration: none;
}
a:hover{
	transition: 0.5s;
	color: #FBF2FF;
}

#main1:hover + #books {
  transition: 0.5s;
  filter:blur(3px);
}
.book0:hover .book1{
  transition: 0.5s;
  filter:blur(3px);
  
}
.book0:hover .book2{
  transition: 0.5s;
  color: RGBA(255,255,255,1);
  background: RGBA(168, 234, 255, 0.3);
  
}
#books {
	transition: 0.5s;
	filter:blur(0px);
}
.book0 {
	margin: 10px 15px 15px 15px;
	float: left;
	height: 352px;
	width: 250px;
}
.book0 div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.book0 img {
	border: 1px solid #FFF;
	border-radius: 10px;
	box-shadow: 0 0 15px white;
}

.book1 {
  transition: 0.5s;
  filter:blur(0px);
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.book2 {
  transition: 0.5s;
  height:100%;
  position: relative;
  bottom: 357px;
  transition: 0.5s;
  color: RGBA(255, 255, 255, 0);
  background: RGBA(255, 255, 255, 0);
  border-radius: 10px;
  
}
.book2 span{
	position: relative;
	bottom: 15px;
}

.logo {
	width: 100%;
}

#slogo {
	margin:10px 15px 10px 15px;
	color: white;
	text-align: left;
	font-family: "Merriweather Sans" ,Helvetica ,Arial ,sans-serif;
	font-size: 200%;
	border-bottom: 1px solid white;
	text-shadow: 2px 2px 0px #A500FF;
}