a {
	size: 100%;
	text-decoration: none;
	background-color: #F5F5F5;
	border: 7px solid #D7ADAD;
	border-radius: 10px;
	font-size: 2em;
	padding: 0px 15px 0px 15px;
}
#aheader {
	background-color: #FFFFFF;
}
#headerfirst {
	font-size = 9px;
}
#headersign {
	font-size = 20px;
}
#header {
	margin-top: 0px;
	width: 90%;
	float: left;
	background-color: #FFFFFF;
	height: 20%;
}

#icon {
	float: left;
	width: 10%;
}
body {
	background-image: url(Images/background.jpg);
	background-size: 40%;
}