.maincss {
  background-color: gray;
  height: 400px;
  width: 200px;
  float: left;
  transition: 0.5s;
  filter:blur(3px);
}
#main1:hover + #booksblur {
  transition: 0.5s;
  filter:blur(3px);
}
#main1:hover{
  transition: 0.5s;
  filter:blur(0px);
}
.book0:hover .book1{
  transition: 0.5s;
  filter:blur(3px);
}
.book0:hover .book2{
  transition: 0.5s;
  color: RGBA(255,255,255,1);
}
#booksblur {
  transition: 0.5s;
  filter: blur(0px);
}

.book0 {
  margin: 10px 10px 10px 10px;
  float: left;
  height: 100px;
  width: 100px;
}
.book1 {
  transition: 0.5s;
  filter:blur(0px);
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.book2 {
  height:100%;
  position: relative;
  bottom: 100px;
  transition: 0.5s;
  color: RGBA(255,255,255,0);
}

#main1:hover #showme {
  filter: blur(0px);
}